{% extends 'base.html.twig' %}

{% block title %}Genre{% endblock %}

{% block body %}
<section class="main">

    <div class ="container">
    <h2>{{ genre.type }}</h2>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ genre.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ genre.type }}</td>
            </tr>
            <tr>
                <th>Movies</th>
                <td>
                    {% for movieGenre in genre.movies %}
                        <li>{{ movieGenre.name }}</li>
                        {% else %}
                        {{ "No movies found" }}
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>


    <div>
        <a href="{{ path('genre_edit', {'id': genre.id}) }}" class="button alt">edit</a>
    </div>


    {{ include('genre/_delete_form.html.twig') }}
        <a href="{{ path('genre_index') }}">back to list</a>
    </div>
</section>
{% endblock %}
