{% extends 'base.html.twig' %}

{% block title %}Movie list{% endblock %}

{% block body %}

    <section class="main">
        <div class ="container">
            <h2>All Movies</h2>
            <div class="table-responsive">
            <table class="table" id="movie-list">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Year</th>
                    <th>Cast</th>
                    <th>Director</th>
                    <th>Genre</th>
                    <th>Rating</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for movie in movies %}
                    <tr>

                        <td>{{ movie.id }}</td>
                        <td id="title-name">{{ movie.name }}</td>
                        <td>{{ movie.year }}</td>

                        <td>{{ movie.maincast }}</td>
                        <td>{{ movie.director.name }}</td>
                        <td>
                            {% for movieGenre in movie.genres %}
                                {% if loop.first %}
                                    {{ movieGenre.type }}
                                {% else %}
                                    {{ "/" }}{{movieGenre.type }}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td id="star-rate">
                            {% if movie.rating == 1 %}
                            {{ movie.rating }}{{ " star" }}</td>
                            {% else %}
                                {{ movie.rating }}{{ " stars" }}
                                {% endif %}
                        </td>
                        <td>
                            <a href="{{ path('movie_rate', {'id': movie.id}) }}">Review</a>
                        </td>

                    </tr>
                {% else %}
                    <tr>
                        <td colspan="7">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
    </section>
{% endblock %}
